.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 0.8rem;
}

.title span{
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.8em;
}